.pagination {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  color: #000;

  p {
    display: flex;
    gap: 10px;
    font-weight: 500;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 20px;
    button {
      background-color: #1976d2;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .pagination {
    flex-direction: column;
    gap: 10px;

    .buttons {
      width: 100%;

      button {
        width: 50%;
      }
    }
  }
}
