.addNewModal,
.addNewModalClosing {
  width: 300px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  transition: all 0.5s ease;

  .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 15px;
      }

      button {
        background: none;
        color: #1976d2;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .closer {
      width: 20px;
      height: 60px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -20px;
      background-color: #fff;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid black;
        z-index: 1;
      }
    }

    form {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .inputGroup {
        display: flex;
        flex-direction: column;
        gap: 8px;

        input,
        select {
          border: 1px solid #d0d0d0;
          outline: none;
          padding: 10px;
          border-radius: 5px;
        }
      }

      p {
        font-size: 14px;
        color: red;
      }

      button {
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        background-color: white;
        border: 1px solid #1976d2;
        color: #1976d2;

        &:last-child {
          background-color: #1976d2;
          color: white;
        }
      }
    }
  }
}

.addNewModal {
  left: 0;
}

.addNewModalClosing {
  left: -300px;
}
