.dashboardLayout {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .main {
    width: calc(100vw - 250px);
    position: relative;
    background-color: #fafafa;
    height: 100vh;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1200px) {
  .dashboardLayout {
    .main {
      width: 100vw;
    }
  }
}
