.filterModal {
  position: relative;
  color: #171717;

  .filter {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: #1976d2;
    width: max-content;
    z-index: 1;
  }

  .main {
    position: fixed;
    top: 60px;
    left: 250px;
    z-index: 999;
    background-color: #fff;
    display: flex;
    gap: 20px;
    width: max-content;
    padding: 20px;
    border-radius: 5px;
    height: 100px;
    -webkit-box-shadow: 1px 1px 19px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 1px 19px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 1px 19px 0px rgba(34, 60, 80, 0.2);

    .inputGroup {
      display: flex;
      width: 40%;
      gap: 20px;

      li {
        width: 50%;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      width: 20%;
      gap: 10px;

      input,
      select {
        color: #171717;
        width: 100%;
        padding: 5px;
        outline: none;
        border: none;
        border-bottom: 1px solid #e0e0e0;
        font-size: 15px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: none;
      }
    }

    .close {
      width: 5%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #1976d2;
    }
  }
}

@media screen and (max-width: 1200px) {
  .filterModal {
    .main {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 900px) {
  .filterModal {
    .main {
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      height: max-content;

      li {
        width: 80%;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .inputGroup {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .filterModal {
    .main {
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      height: max-content;

      .inputGroup {
        flex-direction: column;

        li {
          width: 100%;
        }
      }

      li {
        width: 100%;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}
